apiVersion: apps/v1
kind: Deployment
metadata:
  name: games-api
  namespace: fgc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: games-api
  template:
    metadata:
      labels:
        app: games-api
    spec:
      containers:
        - name: games-api
          image: 626547610206.dkr.ecr.us-east-1.amazonaws.com/games-microservice:latest
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:8080"
          envFrom:
            - configMapRef:
                name: fgc-config
            - secretRef:
                name: fgc-secrets
