apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: fgc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: 626547610206.dkr.ecr.us-east-1.amazonaws.com/gateway-api:latest
          ports:
            - containerPort: 80
