apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: fgc
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      nodePort: 30990   # porta no nรณ
